* {
	margin: 0; 
	padding: 0;
  box-sizing: border-box;
}
html{
    box-sizing: border-box;

}
body{
    position: relative;
    z-index: -1;
}
li,ul{
    list-style: none;
}
a{
    text-decoration: none;
}
 /* img{
    max-width: 100%;
    max-height: 100%;
}  */
/* .container{
    max-width: 114rem;
    margin: 0 auto;
} */
/* ----------------------------------------------------- */
/* category */

/* .section{
    padding: 5rem 0;

} */
.category .title{
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 3rem;
    font-family: 'Lobster', cursive;
}
.category-center {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  
  .category-box {
    position: relative;
    border-radius: 0.5rem;
    height: 25rem;
    overflow: hidden;
    z-index: 1;
    margin-bottom: 4rem;
  }
  .category-box::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4) 30%,
      transparent
    );
    z-index: 2;
  }
  
  .category-box img {
    height: 27rem;
    width: 100%;
    /* transform: scale(1); */
    transition: all 500ms linear;
  }
  
  .category-box:hover img {
    transform: scale(1.1);
  }
  
  .category-box .content {
    position: absolute;
    top: 30%;
    left: 5%;
    color: white;
    z-index: 4;
  }
  
  .category-box .content h2 {
    font-weight: 500;
    margin-bottom: 0.5rem;
    font-family: 'Lobster', cursive;
  }
  
  .category-box .content span {
    display: block;
    margin-bottom: 1rem;
  }
  
  .category-box .content a {
    display: inline-block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.7rem 1.3rem;
    /* border: 1px solid var(--white); */
    border: 1px solid white;
    transition: all 300ms linear;
  }
  
  .category-box:hover a {
    border: 1px solid black;
    background-color: black;
  }
  @media only screen and (max-width: 1200px) {
    .category-box .content h2 {
      font-size: 2rem;
    }
  
    .category-box .content span {
      font-size: 1.5rem;
    }
    .category-box .content a {
        font-size: 1.5rem;
        padding: 0.5rem 1.1rem;
      }
    }
    
    @media only screen and (max-width: 996px) {
      .category-center {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    
    @media only screen and (max-width: 768px) {
      .category-box {
        height: 20rem;
      }
    }
    
    @media only screen and (max-width: 567px) {
      .category-center {
        grid-template-columns: 1fr;
      }
    
      .category-box {
        height: 20rem;
        max-width: 35rem;
        margin: 0 auto;
      }
    
      .category-box .content {
        top: 20%;
      }
    }


    /* =========== Sort Products ============ */
.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  margin-bottom: 2rem;
  background-color:rgb(240, 235, 235);
  font-family: 'Lobster', cursive;
}
.section-titles:not(:last-child) {
  margin-right: 1.5rem;
}
.section-title {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

 .section-title h1 {
  font-size: 1.8rem;
  font-weight: inherit;
}

.section-title:hover .primary-title
/* .section-title:hover span.dot,
.section-title:hover span.dot::before  */
{
  opacity: 1;
} 
.section-title .primary-title {
  opacity: 0.6;
  padding-left: 0.5rem;
  transition: opacity 0.3s ease-in-out;
}

/* span.dot {
  opacity: 0.6;
  padding: 0.45rem;
  position: relative;
  border: 1px solid var(--black);
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
} */

/* span.dot::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid var(--black);
  background-color: var(--black);
  margin: 1px;
  opacity: 0.6;
} */

/* .section-title.active span.dot {
  opacity: 1;
}

 .section-title.active span.dot::before {
  opacity: 1;
}  */

.section-title.active .primary-title {
  opacity: 1;
}
@media only screen and (max-width: 567px) {
  .title-container {
    flex-direction: column;
  }

  .section-titles:not(:last-child) {
    margin: 0 0 1.3rem;
  }
}

/* ========= product center ========= */
.product-center {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 2rem;
}

.product {
  text-align: center;
  position: relative;
  padding: 0 1rem;
}

 .product-header {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height:28rem;  */
  /* me */
  height: 16rem;

}

.product-header img.small {
  max-height: 20rem;
 width: 231px; 
 height: 221px;
}

.product-footer h3 {
  font-weight: 500;
  font-size: 1.2rem;
  color: rgb(95, 95, 95);
  /* me */
  margin-top: 0px;
}

.rating {
  color: var(--yellow);
  /* me */
  margin-top: 0;
  font-size: 1.0rem;
}

.product-price h4 {
  font-weight: 500;
  font-size: 1.2rem;
}

.product ul {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  width: 17rem;
  height: 5rem;
  background-color: rgba(255, 255, 255, 0.5); 
  opacity: 0;
  visibility: hidden;
  transform: translate(-50%, -50%) scale(0.7);
  transition: all 0.5s ease-in-out;
}

.product:hover ul {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}

.product:hover ul i {
  color: white;
}

.product ul li:not(:last-child) {
  margin-right: 1.6rem;
}

.product ul a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--pink);
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
  transition: 0.5s;
}

.product ul a:hover {
  background-color: black;
}

/* .product ul a::before {
  content: "";
  position: absolute;
  top: -0.6rem;
  left: -0.6rem;
  height: 0;
  width: 0;
  border-top: 3px solid var(--pink);
  border-left: 3px solid var(--pink);
  transition: 0.5s;
  opacity: 0;
  z-index: 1;
} */

/* .product ul a::after {
  content: "";
  position: absolute;
  bottom: -0.6rem;
  right: -0.6rem;
  width: 0;
  height: 0;
  border-bottom: 3px solid var(--pink);
  border-right: 3px solid var(--pink);
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
} */

/* .product ul a:hover::before {
  width: 126%;
  height: 126%;
  border-top: 3px solid var(--black);
  border-left: 3px solid var(--black);
  opacity: 1;
}

.product ul a:hover::after {
  width: 126%;
  height: 126%;
  border-bottom: 3px solid var(--black);
  border-right: 3px solid var(--black);
  opacity: 1;
} */

@media only screen and (max-width: 998px) {
  .product-center {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .product-center {
    grid-template-columns: repeat(2, 1fr);
  }

  .product-header {
    height: 20rem;
  }

  .product-header img.small {
    max-height: 20rem;
  }
}

@media only screen and (max-width: 567px) {
  .product-header {
    height: 15rem;
  }
}



 
/* @media only screen and ( max-width: 1200px){
    .container{
        padding: 0 3rem;
    }
}
@media only screen and ( max-width: 567px){
    .container{
        padding: 0 5rem;
    }
} */




/* latest */
/* .row:after {
    content: " ";
    display: table;
} */
/* .latest {
    width: 100%;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
   
} */
/* not sure */
/* .row:before, .row:after {
    content: " ";
    display: table;
}
.row:after {
    clear: both;
}

.nasa-title .nasa-heading-title {
    margin-bottom: 0.1em;
    font-weight: 600;
}
.nasa-title-wrap span{
    font-size: 0.93103em;
    line-height: 1.4;
    color:black;
    text-align: center;
    margin-bottom: 0.1em;
    font-weight: 600;

} */
/* .nasa-tabs-content {
    position: relative;
}
.nasa-classic-style {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 0;
    
    text-align: center;
    
    background: transparent;
} */
/* .nasa-classic-style li {
    list-style: none;
    display: inline-flex;
    position: relative;
    margin-right: 15px;
}
.nasa-classic-style a {
    border: 3px solid;
    
    border-style: outset;
    border-color: #ccc;
    color: #aaa;
    font-size: 100%;
    line-height: 100%;
    margin: 0;
    padding: 8px 25px;
    font-weight: bold;
    text-decoration: none;
}
.nasa-classic-style li.active a, .nasa-classic-style li:hover a {
    border-color: #4d4d4d;
    color: #2d2a2a;
    font-weight: bold;
}  */

/* li {
    display: list-item;
    text-align: -webkit-match-parent;
} */
/* Tab Elements */
/* .nasa-tabs-content .nasa-slide-style {
    margin-bottom: 10px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
  }
  .nasa-tabs-content .nasa-slide-style li.nasa-tab {
    margin-bottom: 0px;
  }
  .nasa-tabs-content .nasa-panels .nasa-panel .product_list_widget .item-product-widget {
    display: inline-block;
    width: 100%;
    float: left;
  }
  .nasa-tabs-content .nasa-panels .nasa-panel .product_list_widget.large-block-grid-4 .item-product-widget, .nasa-tabs-content .nasa-panels .nasa-panel .product_list_widget.large-block-grid-5 .item-product-widget, .nasa-tabs-content .nasa-panels .nasa-panel .product_list_widget.large-block-grid-3 .item-product-widget, .nasa-tabs-content .nasa-panels .nasa-panel .product_list_widget.large-block-grid-2 .item-product-widget {
    width: 50%;
  }
  .nasa-tabs-content .nasa-tabs-wrap {
    width: 100%;
    overflow: hidden;
  }
  .nasa-tabs-content .nasa-tabs {
    overflow-y: auto;
    white-space: nowrap;
    mask-image: linear-gradient(to left, transparent 5px, black 40px);
    -webkit-mask-image: linear-gradient(to left, transparent 5px, black 40px);
  }
  .nasa-tabs-content .nasa-tabs::-webkit-scrollbar {
    display: none;
  }
  .nasa-tabs-content .nasa-tabs.nasa-classic-style {
    margin-bottom: 0;
  }
  .nasa-tabs-content .nasa-tabs.nasa-slide-style {
    width: 100%;
    white-space: unset;
    border: unset;
    background: #f9f9f9;
    mask-image: unset;
    -webkit-mask-image: unset;
  }
  .nasa-tabs-content.woocommerce-tabs .nasa-tabs.nasa-classic-style {
    margin-bottom: 10px;
  }

  .client .client-inner {
    padding: 55px 0px;
  }

  .woocommerce.widget_products,
  .woocommerce.widget_top_rated_products {
    padding-right: 0px;
  }

  #mobile-navigation ul[class*="block-grid-"] > li {
    width: 100%;
  }

  .woocommerce-MyAccount-content {
    overflow-x: auto;
  }

  .woocommerce-MyAccount-orders {
    min-width: 640px;
  }
  .woocommerce-MyAccount-orders .woocommerce-orders-table__cell-order-number a {
    text-decoration: underline;
  } */
/* done */

/* accordion----------------------- */

/* body {
	background: #ccc; 
	font-family: arial, verdana, tahoma;
} */

/*Time to apply widths for accordian to work
Width of image = 640px
total images = 5
so width of hovered image = 640px
width of un-hovered image = 40px - you can set this to anything
so total container width = 640 + 40*4 = 800px;
default width = 800/5 = 160px;
*/
.gallery .title{
  margin-top: 6rem;
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 3rem;
  font-family: 'Lobster', cursive;
}

.accordian {
	width: 805px;
  height: 320px;
	overflow: hidden;
	
	/*Time for some styling*/
	margin: 100px auto;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
}

/*A small hack to prevent flickering on some browsers*/
.accordian ul {
	width: 2000px;
	/*This will give ample space to the last item to move
	instead of falling down/flickering during hovers.*/
}

.accordian li {
	position: relative;
	display: block;
	width: 160px;
	float: left;
	
	border-left: 1px solid #888;
	
	box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	
	/*Transitions to give animation effect*/
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	/*If you hover on the images now you should be able to 
	see the basic accordian*/
}

/*Reduce with of un-hovered elements*/
.accordian ul:hover li {width: 40px;}
/*Lets apply hover effects now*/
/*The LI hover style should override the UL hover style*/
.accordian ul li:hover {width: 640px;}


.accordian li img {
	display: block;
  width: 640px;
  height: 320px;
}

/*Image title styles*/
.image_title {
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 0; bottom: 0;	
width: 640px;	

}
.image_title a {
  display: block;
	color: #fff;
	text-decoration: none;
	padding: 20px;
	font-size: 20px;
  font-family: 'Lobster', cursive;

}

/* me */

